table  { border: 2px solid black; border-collapse: collapse; 
         background-color: wheat; padding: 3px; }
td, th { border: 2px solid gray; padding: 3px; }
tbody > tr:nth-child(odd) { background-color: white; }